{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tenders/style.css' %}" />

<h1>Public tenders map</h1>
<p>This site displays map of contractors and procurers connected by executed contracts.</p>

<a href="{% url 'tenders:procurers' %}">List of procurers</a>
<a href="{% url 'tenders:contractors' %}">List of contractors</a>

<div id="map"></div>
<script>
    function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
            center: {lat: 44.540, lng: -78.546},
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

